.app {
   
    width: 100vw;
    display: flex;
    color: black;
    
  }
  
  .main {
    width: 100%;
   
    display: flex;
    flex-direction: column;
  }
  
  .pyramid {
    width: 25%;
  margin-top: 18%;
  margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .moneyList {
    padding: 20px;
    list-style: none;
    width: 100%;
  }
  
  .moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }
  
  .moneyListItem.active {
    background-color:#f0aba1;
  }
  
  .moneyListItemNumber {
    width: 30%;
    font-size: 18px;
    font-weight: 100;
  }
  
  .moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
  }
  
  .top {
    height: 30%;
    position: relative;
  }
  
  .timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #f29384;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin:5% auto;
    font-size: 30px;
    font-weight: 700;
  }
  
  .bottom {
    height: 50%;
  }
  
  .trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .question {
    width: 80%;
    background:  #f0aba1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
  }
  
  .answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .answer {
    width: 40%;
    padding: 10px;
    margin: 0 10px 20px 10px;
    text-align: center;
   
    border: 1px solid white;
    border-radius: 15px;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
  }
  
  .answer:hover,
  .answer.active {
    background: #f0aba1;
  }
  
  .answer.correct {
    animation: correct 3s ease forwards;
  }
  
  @keyframes correct {
    0%,
    22%,
    42% {
      background: #f0aba1;
    }
    20%,
    40%,
    60% {
        background: linear-gradient(#f3ccc6, #f49384);
    }
    62%,
    100% {
      background: rgb(74, 209, 74);
    }
  }
  
  .answer.wrong {
    animation: wrong 3s ease forwards;
  }
  
  @keyframes wrong {
    0%,
    22%,
    42% {
      background: #f0aba1;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#f3ccc6, #f49384);
    }
    62%,
    100% {
      background: crimson;
    }
  }
  
  .endText {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .start {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .startInput {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }
  
  .startInput:focus {
    outline: none;
  }
  
  .startButton {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }