:root {
  --white: #fff;
  --primary: #fe634e;
  --info: #f6d5cf;
  --dark: #000000;
}
* {
  transition: all 0.1s;
  animation-direction: column;
  font-family: Nunito;
  font-weight: 600;
  
}
.heading {
  transition: all 0.3s;
  cursor: pointer;
}
.heading:hover {
  transition-delay: 0.3s;
  transition-duration: 1s;
  color: #fffa6f;
}

.buttons {
  background: #955951;
  border-radius: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.button:hover {
  background-color: #955951;
}
.buttonStyle {
  display: block;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 1.25rem;
  background: rgb(252, 252, 252);
  color: var(--dark);
  transform: translateY(-6px);
}

.buttons:active .buttonStyle {
  transform: translateY(-2px);
}
.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.591);
  color: #111;
}
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 10px;
  width: 700px;
  height: 400px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(217, 247, 235, 0.4);
  max-width: 85%;
  transform: translateY(-7px);
}

.content {
  width: 50%;
  height: 50vh;
  margin-right: 10px;
}
.buttonmodal {
  transform: translateY(-7px);
}

input[type="checkbox"] {
  accent-color: #f0aba1;
}

input[type="radio"]:checked {
  background-color: #f0aba1;
}
button {
  background-color: #f0aba1;
}
@media only screen and (max-width: 635px) {
  .modalimg {
    display: none;
  }
  .modal-content {
    width: 400px;
    height: 500px;
  }
  .content {
    margin: 1px;
  }
  .buttonStyle {
    padding: 10px 18px;
  }
}
.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 100%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content1 {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
  object-fit: fill;
}
.content1 h2 {
  padding: 0px 0 5px 0px;
}
.content1 hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content1 p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
